USE [master]
GO
/****** Object:  Database [Assist_proj]    Script Date: 01/08/2022 21:38:37 ******/
CREATE DATABASE [Assist_proj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assist_proj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Assist_proj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assist_proj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Assist_proj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assist_proj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assist_proj]
GO
USE [Assist_proj]
GO
/****** Object:  Table [dbo].[calendar]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar](
	[Data] [datetime] NOT NULL,
	[Dia]  AS (CONVERT([tinyint],datepart(day,[Data]))) PERSISTED NOT NULL,
	[Mes]  AS (CONVERT([tinyint],datepart(month,[Data]))) PERSISTED NOT NULL,
	[Ano]  AS (CONVERT([smallint],datepart(year,[Data]))) PERSISTED NOT NULL,
	[DiaSemana] [varchar](20) NOT NULL,
	[SemanaAno] [tinyint] NOT NULL,
	[DiaUtil] [bit] NOT NULL,
	[Feriado] [bit] NOT NULL,
	[Descrição] [varchar](50) NULL,
 CONSTRAINT [PK_calendar] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC,
	[Mes] ASC,
	[Dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parcel]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcel](
	[id_parcel] [int] IDENTITY(1,1) NOT NULL,
	[parcel_value] [decimal](38, 2) NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[payment_venc_date] [datetime] NULL,
	[is_pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parcel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id_payment] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [varchar](max) NOT NULL,
	[payment_document_path] [varchar](max) NULL,
	[payment_value] [decimal](38, 2) NOT NULL,
	[id_sender] [int] NOT NULL,
	[payment_parcelas] [int] NOT NULL,
	[payment_progress] [int] NOT NULL,
	[payment_emission_date] [datetime] NOT NULL,
	[removed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[portfolio]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[portfolio](
	[id_portfolio] [int] IDENTITY(1,1) NOT NULL,
	[name_portfolio] [varchar](max) NULL,
	[patrimony] [decimal](38, 2) NULL,
	[removed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_portfolio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sender]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sender](
	[id_sender] [int] IDENTITY(1,1) NOT NULL,
	[sender_name] [varchar](max) NULL,
	[sender_phone] [varchar](30) NULL,
	[sender_email] [varchar](100) NULL,
	[sender_cep] [varchar](12) NULL,
	[removed] [int] NOT NULL,
 CONSTRAINT [PK_Senders] PRIMARY KEY CLUSTERED 
(
	[id_sender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transact]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transact](
	[transact_number] [int] IDENTITY(1,1) NOT NULL,
	[transact_value] [decimal](38, 2) NULL,
	[transact_comment] [varchar](max) NULL,
	[id_portfolio] [int] NOT NULL,
	[id_sender] [int] NOT NULL,
	[id_transact_type] [int] NOT NULL,
	[date_transact] [datetime] NOT NULL,
	[removed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transact_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transact_type]    Script Date: 01/08/2022 21:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transact_type](
	[id_transact_type] [int] IDENTITY(1,1) NOT NULL,
	[name_transact_type] [varchar](max) NULL,
	[removed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transact_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[transact]  WITH CHECK ADD  CONSTRAINT [fk_id_portfolio] FOREIGN KEY([id_portfolio])
REFERENCES [dbo].[portfolio] ([id_portfolio])
GO
ALTER TABLE [dbo].[transact] CHECK CONSTRAINT [fk_id_portfolio]
GO
ALTER TABLE [dbo].[transact]  WITH CHECK ADD  CONSTRAINT [fk_id_sender] FOREIGN KEY([id_sender])
REFERENCES [dbo].[sender] ([id_sender])
GO
ALTER TABLE [dbo].[transact] CHECK CONSTRAINT [fk_id_sender]
GO
ALTER TABLE [dbo].[transact]  WITH CHECK ADD  CONSTRAINT [fk_id_transact_type] FOREIGN KEY([id_transact_type])
REFERENCES [dbo].[transact_type] ([id_transact_type])
GO
ALTER TABLE [dbo].[transact] CHECK CONSTRAINT [fk_id_transact_type]
GO
USE [master]
GO
